# PYTHON

### Python Comments

In [11]:
# 1. Single line Comments
#this is a comment. we use '#' to create comments in Python
#comments used to explain python codes and make it more readable

# 2. Multi line Comments
#this is 
#a comment written in
#multiple lines

#no special syntax for multiple comments

#3 """   """
#sometimes multiline comments are used inside """   """ . its not actual syntax. but ignored

### Print Statement

In [13]:
#PRINT statement
print("Hello") #prints text or results to the screen so you can see them.

Hello

In [15]:
print(10) #printing a number

10

In [19]:
print(5 + 8) #print math results

13

In [21]:
print("i am", 5, "years old") #print multiple things

i am 5 years old

### VARIABLES & ASSIGNMENT

In [23]:
#variable - a container to store values
name = "Athul"
age = 25
height = 5.9
is_student = True
#pyhton is dynamically typed – no need to declare data types explicitly.variable is created the moment you first assign a value to it.

In [21]:
print(name)
print(age)
print(height)
print(is_student)

Athul
25
5.9
True

In [25]:
# Variable Name Rules 
#1. start with letter or underscore
#2. not start with number
#3. has only alphanumeric and underscore
#4. Case-Sensitive
#5. not python keywords

#multiword variable naming
#1. Camel Case- myVariableName = 'Athul' first letter of all words except firt word is capital
#2. Pascal Case- MyVariableName= 'Athul' first letter of all words capital
#3. Snake Case- my_variable_name = 'Athul' underscore btw each word

In [27]:
2a = 40 #rule 2 and 1

SyntaxError: invalid decimal literal (1206151212.py, line 1)

In [29]:
$a=5 #rule 3

SyntaxError: invalid syntax (958999881.py, line 1)

In [33]:
a=1
print(A) #rule 4 Case Sensitive

NameError: name 'A' is not defined

In [1]:
a = 1
a = 2
a = 3
a = 4
A = 4
a = A

In [5]:
print(a)
print(A)

4
4

In [9]:
a = b = c = 25 #assign same value to multiple variables
print(a)
print(b)
print(c)

25
25
25

In [27]:
x, y, z = "Orange", "Banana", "Cherry"   #assign multiple values to multiple variables
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [11]:
#print() function is often used to output variables
x = "Python is awesome"
print(x)

Python is awesome

In [25]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)   #output multiple variables using comma
print(x)
print(y)
print(z)

Python is awesome
Python
is
awesome

In [15]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)  #output multiple variables using +

Python is awesome

In [31]:
x = 5
y = "John"
print(x, y) #comma is best because different datatypes can be used here
print(x + y) #different datatypes not possible. so error

5 John

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
#Global Variables
#variables created outside a function. can be used inside and outside function
x = "awesome" #global variable

def myfunc():   #function definition
  print("Python is " + x)

myfunc() #calling the function

Python is awesome

In [37]:
#Global Keryword - to create global variable inside a function. variable inside funcion is generally Local.
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [45]:
# GLobal keyword can also be used to change the value of a global variable inside a function.
x = "awesome"  #global variable

def myfunc():  
  global x #declarin a global variable using global keyword
  print("Python is " + x) #print before changing the value ofglobal variable
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is awesome
Python is fantastic

### Taking User Input

In [79]:
name = input("Enter your name: ") # to enter user input we use input() function 
print("Hello", name)

Enter your name:  Athul

Hello Athul

In [81]:
#By default, input() returns a string. Use int() or float() to convert types
age = int(input("Enter your age: "))
print("Next year you’ll be", age + 1)

Enter your age:  25

Next year you’ll be 26

In [3]:
name = input("Enter your name: ")
birth_year = int(input("Enter your birth year: "))

current_year = 2025
age = current_year - birth_year

print("Hi",name,"you are",age,"years old.")

Enter your name:  athul
Enter your birth year:  1995

Hi athul you are 30 years old.

### Basic Datatypes

In [ ]:
#string
#integer
#float
#boolean

In [49]:
#type() - this functions give the datetype of the variable
print(type("Hi"))
print(type(5))
print(type(5.0))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [90]:
##### Exercises

In [94]:
# 1.Print your name, age, and profession.
print("Athul")
print(30)
print("railway")

Athul
30
railway

In [102]:
# 2. Take input from a user for two numbers and print their sum.
a = int(input("enter the first number"))
b = int(input("enter the second number"))
print("sum is",a + b)

enter the first number 25
enter the second number 50

sum is 75

In [104]:
# 3. Ask for someone's birth year and calculate their age.
b_year = int(input("enter birth year"))
print("your age is",2025 - b_year)

enter birth year 1995

your age is 30

In [106]:
# 4. Determine the type of 5 different variables using type().
a = 5
b ='Athul'
c = 10.4
d = 10>12
e = "string"
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [110]:
""" Write a short program that:
Asks the user for their name
Asks for their birth year
Calculates their current age
Prints this message: Hi [Name], you are [Age] years old! """ 

name = input("enter your name")
b_year = int(input("enter your birth year"))
print("Hi",name,"you are",2025-b_year,"years old")

enter your name Athul
enter your birth year 1995

Hi Athul you are 30 years old

###### Integer

In [28]:
#integers :- numbers without decimal values
a = 1#create variable a and assign value 1 to it
type(a) #returns the datatype of the variable

int

In [30]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

##### Floats

In [33]:
#floats - numbers with decimal
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [35]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [53]:
#Complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [51]:
#converting to different types using int(),Float(),Complex()
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [39]:
a = 100.23 
b = int(a) #type casting :- converting a datatype to other 
print(b)

100

In [43]:
5.0 - 1 #float - int = float   bcoz python takes float bcoz it has high  precedence

4.0

In [45]:
5 + 1.0 #addition

6.0

In [47]:
5.0*2 #multiplication

10.0

In [49]:
5 / 2 #division always gives float

2.5

In [51]:
4 / 2

2.0

In [57]:
#random module
import random

print(random.randrange(1, 10))

2

##### Booleans

In [54]:
#booleans :- outcome from a logical statement. TRUE or FALSE

In [56]:
10>0

True

In [58]:
20>22

False

In [60]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [62]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [66]:
#The bool() function allows you to evaluate any value, and give you True or False in return,
print(bool("Hello"))
print(bool(15))  #evaluate string and a number
print(bool(0))
print(bool(""))

True
True
False
False

In [68]:
x = "Hello"
y = 15
a = ''
b = 0

print(bool(x))
print(bool(y))
print(bool(a))
print(bool(b))

True
True
False
False

In [76]:
#Almost any value is evaluated to True if it has some sort of content.
#Any string is True, except empty strings.
#Any number is True, except 0.
#Any list, tuple, set, and dictionary are True, except empty ones.
#The following will return False:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

### Casting

In [60]:
# changing one type to another

#str to int
x = "5"        # This is text, not a number
y = int(x)     # Now y is a real number

print(y + 2)   # Output: 7

7

In [62]:
#int to str
age = 24
print("I am " + str(age) + " years old.")

I am 24 years old.

In [64]:
#float to int
pi = 3.14
rounded = int(pi)
print(rounded)    # Output: 3

3