# Strings

In [8]:
# string is a sequence of characters enclosed in quotes (single ', double ", or triple quotes '''/""").

print("Hello")
print('Hello')
print("""hello""")
print('''hello''')

Hello
Hello
hello
hello

In [10]:
#Quotes Inside Quotes
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [12]:
#Assign String to a Variable
name = "Athul"
city = 'Berlin'
description = """Python is great for data analytics."""
print(name)
print(city)
print(description)

Athul
Berlin
Python is great for data analytics.

In [14]:
#Multiline string
a = """this is a 
    string in 
    multiple lines"""
print(a)

this is a
    string in
    multiple lines

In [16]:
a = '''this is a 
    string in 
    multiple lines'''
print(a)

this is a
    string in
    multiple lines

In [18]:
#strings in Python are arrays of bytes representing unicode characters.
#Python does not have a character data type, a single character is simply a string with a length of 1.
#Square brackets can be used to access elements of the string.
a = "Hello, World!"
print(a[1])

e

In [22]:
#negative indexing
a = "Hello, World!"
print(a[-1])

!

In [20]:
#Looping Through a String
for x in "Berlin":
  print(x)

B
e
r
l
i
n

In [24]:
#string length - len()
a = "berlin"
print(len(a))

6

In [36]:
#check string
#To check if a certain phrase or character is present in a string, we can use the keyword "in".
text = "football is the best sports"
print("best" in text)
print("test" in text)

True
False

In [28]:
text = "football is the best sports"
if "best" in text:
    print(" yes 'best' is in text")

 yes 'best' is in text

In [32]:
#check if not
#check if a certain phrase or character is NOT present in a string, we can use the keyword not in.
text = "football is the best sports"
print("test" not in text)
print("best" not in text)

True
False

In [42]:
text = "football is the best sports"
if "best" not in text:
    print(" yes 'best' is in text")  
#no output since the word "best" is in the text

## String Operations

### 1. Slicing a String

Return a range of characters. 
Specify the start index and the end index, separated by a colon, to return a part of the string.

In [86]:
#Basic Slicing
#1. normal
b = "Python" #index- 012345   "-6 -5 -4 -3 -2 -1 " from end.
print(b[2:5])  #5th position (end position) not included.

#2. slicing from start 
print(b[:5]) #leaving out the start index, the range will start at the first character

#3. slicing to end
print(b[2:]) #leaving out the end index, range will go to the end

tho
Pytho
thon

In [78]:
#Negative Index Slicing
print(b[-3:]) # to the end
print(b[:-2]) #from the start
print(b[-4:-1]) # normal negative range

hon
Pyth
tho

In [106]:
#Slicing with step (skipping characters)
#syntax :- text[start:end:skip]
print(b[::2]) #print every 2nd character. index- 0,2,4 printed 
print(b[1::2]) #index 1,3,5
print(b[::3]) #skips 3 from start ot end. index-0,3

Pto
yhn
Ph

In [114]:
#reversing a string
print(b[::-1]) #starts from end and reverse entire string
print(b[-1:-7:-1])
print(b[5:1:-1])

nohtyP
nohtyP
noht

In [126]:
#partial and others
print(b[1:5:2]) #start from 1 end before 5 skips 2
print(b[::]) #entire string
print(b[::1]) #entire string

yh
Python
Python

### 2. Modify a String

In [137]:
# 1. UPPER CASE - upper()
c = "deutschland"
print(c.upper()) #converts the string to uppercase
"hi".upper()

DEUTSCHLAND

'HI'

In [135]:
# 2. LOWER CASE - lower()
print(c.lower()) #to lower case
"HELLO".lower()

deutschland

'hello'

In [139]:
# 3. Remove WHITESPACE - strip()
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"
"   hello   ".strip()

Hello, World!

'hello'

In [141]:
# 4. REPLACE String - replace()
a = "Hello"
print(a.replace("H", "J"))
"hello".replace("e", "a")

Jello

'hallo'

In [145]:
# 5. SPLIT String - split() method splits the string into substrings if it finds instances of the separator.
#split() method returns a list where the text between the specified separator becomes the list items.
a = "Hello,you,are,Welcome!"
print(a.split(","))
"Hello,you,are,Welcome!".split(",")

['Hello', 'you', 'are', 'Welcome!']

['Hello', 'you', 'are', 'Welcome!']

In [151]:
# 6. CAPITALIZE - capitalize() capitalises the first letter of a word or a sentence
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)
"hello world".capitalize()

Hello, and welcome to my world.

'Hello world'

In [153]:
# 7. TITLE - title() capitalises first letter of each word
txt = "hello, and welcome to my world."
x = txt.title()
print (x)
"hello world".title()

Hello, And Welcome To My World.

'Hello World'

In [155]:
# 8. JOIN - join()
" ".join(["Python", "is", "fun"])

'Python is fun'

In [172]:
# 9. SWAP CASE -swapcase()
s = 'hELlO woRLd'
print(s.swapcase())  #upper -> lower and lpwer -> upper

HelLo WOrlD

In [174]:
# 10. COUNT - count() Count how many times a char appears
"banana".count("a")

3

### 3. Concatenate strings

In [215]:
# merge two srings
a = "Hello"
b = "World"
c = a + b
print(c)
print(a,b)

HelloWorld
Hello World

In [165]:
# add space in between
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [217]:
# concatenate using ","
a = "Hello"
b = "World"
print(a,b)

Hello World

In [169]:
#note int + str = error
5 + "5"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [167]:
# repeating a string multiple time 
a = "hello"
print(a*5) #prints 'hello' 5 times

hellohellohellohellohello

### 4. Escape Characters

In [177]:
#To insert characters that are illegal in a string, use an escape character.
#An escape character is a backslash \ followed by the character you want to insert.
#An example of an illegal character is a double quote inside a string that is surrounded by double quotes:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (2121409264.py, line 4)

In [181]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [183]:
# 1. single quote
txt = 'It\'s alright.'
print(txt)

It's alright.

In [185]:
# 2. backslash
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [187]:
# 3. New Line
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [189]:
# 4. Carriage Return
txt = "Hello\rWorld!"
print(txt) #carriage return returns the cursor to the start position. so text after carriage return replaces the original from start position.

World!

In [193]:
txt = "Berlin\rMe"
print(txt)

Merlin

In [195]:
# 5. Tab
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [199]:
# 6. Backspace  - This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt) #remove the space here

HelloWorld!

### 5. STRING FORMAT

In [203]:
#we cannot combine strings and numbers
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [205]:
# 1. F-STRINGS - preferred way of formatting strings
# put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [207]:
price = 59
txt = f"The price is {price:.2f} dollars" #Display the price with 2 decimals
print(txt)

The price is 59.00 dollars

In [209]:
txt = f"The price is {20 * 59} dollars" #Perform a math operation in the placeholder, and return the result
print(txt)

The price is 1180 dollars

In [213]:
name = "Athul"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Athul and I am 25 years old.

In [211]:
# 2. FORMAT method - format()
print("Hello, {}!".format("Athul"))

Hello, Athul!

In [219]:
# 3. using + 
name = "Athul"
age = 24
print("Name: " + name)
print("Age: " + str(age))

Name: Athul
Age: 24